.quiz {
  padding-top: 10%;
  border: solid 1px red;
  background-color: red;
}

.category {
  color: white;
  border: solid 2px white;
  border-radius: 25px;
}

.question {
  color: white;
  border: solid 2px white;
  border-radius: 25px;
}

.scrolling {
  padding-top: 10%;
  gap: 1rem;
}

.answers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
